
body {
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
}

/* Header */

.header-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background: #d42f2f;
    background: linear-gradient(180deg, rgba(212, 47, 47, 1) 0%, rgba(196, 35, 35, 1) 33%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 1) 100%);
    border-bottom: 1px solid whitesmoke;
}

/* Barra de navegacion */

.nav {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 1.3rem;
    color: white;
}

li:hover {
    cursor: pointer;;
}

 /* Barra de Busqueda */

.buscador {
    display: flex;
    justify-content: space-around;
    max-width: 20%;
    height: 35px;
    margin: 2rem auto;
    border: solid 1px gray;
    border-radius: 20px;
}

.buscador:focus-within {
    border: solid 2px #d42f2f; /* Cambia a azul (o el color que prefieras) */
    
    /* Opcional: Puedes agregarle un pequeño brillo para que se vea genial */
    box-shadow: 0 0 8px rgba(255, 61, 61, 0.4); 
}

#busqueda {
    border: none;
    border-radius: 20px;
    border-left: 1px;
}

#busqueda:focus {
    outline: none;
}

.imgbuscar {
    width: 20px;
    border-radius: 5px;
}

#btnBuscar {
    background-color: white;
    border: none;
    border-radius: 20px;
}

#btnBuscar:hover {
    cursor: pointer;
}


/* pokemon cards */

.tipos {
    display: flex;
    gap: 1rem;
}

.tipo {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.icon-tipo {
    width: 20px;
}

.bg-electric{ background-color: yellow;}
.bg-fighting{background-color: rgb(255, 83, 20);}
.bg-fire{background-color: red;}
.bg-water{background-color: rgb(28, 135, 222);}
.bg-grass{background-color: rgb(12, 150, 21);}
.bg-bug{background-color: rgb(16, 255, 32);}
.bg-poison{background-color: purple;}
.bg-normal{background-color: gray;}
.bg-flying{background-color: rgb(172, 235, 241);}
.bg-ground{background-color: rgb(208, 131, 43);}
.bg-rock{background-color: rgb(190, 164, 92);}
.bg-ice{background-color: rgb(88, 231, 231);}
.bg-steel{background-color: rgb(105, 141, 172);}
.bg-dragon{background-color: rgb(13, 10, 148);}
.bg-fairy{background-color: pink;}
.bg-dark{background-color: rgb(11, 49, 103);}
.bg-psychic{background-color: rgb(255, 48, 82);}