
body {
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
}

/* Header */

.header-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background: #d42f2f;
    background: linear-gradient(180deg, rgba(212, 47, 47, 1) 0%, rgba(196, 35, 35, 1) 33%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 1) 100%);
    border-bottom: 1px solid whitesmoke;
}

/* Barra de navegacion */

.nav {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 1.3rem;
    color: white;
}

li:hover {
    cursor: pointer;;
}

 /* Barra de Busqueda */

.buscador {
    display: flex;
    justify-content: space-around;
    max-width: 20%;
    height: 35px;
    margin: 2rem auto;
    border: solid 1px gray;
    border-radius: 20px;
}

.buscador:focus-within {
    border: solid 2px #d42f2f; /* Cambia a azul (o el color que prefieras) */
    
    /* Opcional: Puedes agregarle un pequeño brillo para que se vea genial */
    box-shadow: 0 0 8px rgba(255, 61, 61, 0.4); 
}

#busqueda {
    border: none;
    border-radius: 20px;
    border-left: 1px;
}

#busqueda:focus {
    outline: none;
}

.imgbuscar {
    width: 20px;
    border-radius: 5px;
}

#btnBuscar {
    background-color: white;
    border: none;
    border-radius: 20px;
}

#btnBuscar:hover {
    cursor: pointer;
}


/* pokemon cards */